@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Tracy's Book Management</h2>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Welcome to Tracy's Book Management System.</h3>
        <p>
            This is Tracy's a sample application using C#.
        </p>
    </div>

    <div class="col-md-4">
        <h3>Introduction</h3>
        <p>
            I am going to demonstrates how to use Entity Framework 6 in an
            ASP.NET MVC web application..
        </p>
    </div>
</div>