<?xml version="1.0" encoding="UTF-8" ?>
<entityFramework>
  <contexts>
    <context type="BookManagement.DAL.BookContext, BookManagement">
      <databaseInitializer type="BookManagement.DAL.BookInitializer, BookManagement" />
    </context>
  </contexts>
  <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
    <parameters>
      <parameter value="v11.0" />
    </parameters>
  </defaultConnectionFactory>
  <providers>
    <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
  </providers>
</entityFramework>