@{
    ViewData["Title"] = "Home Page";
}
@model RosterModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>This is the index page.</h1>
    <h1> Hello World !</h1>
    <p>Id is: @Model.Id.ToString() </p>
    <p>First Name is: @Model.FirstName.ToString()</p>
    <p>Last Name is: @Model.LastName.ToString()</p>
    <p>Age is: @Model.Age.ToString()</p>
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
